<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <header>
                <h1>
                    Learn the words!!!
                </h1>
            </header>
            <nav class="nav nav-pills nav-justified">
                <a routerLinkActive="active" routerLink="/add-word" class="nav-link" href="#">Add</a>
                <a routerLinkActive="active" routerLink="/learn-words" class="nav-link" href="#">Learn</a>
                <a routerLinkActive="active" routerLink="/edit" class="nav-link" href="#">Edit</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
